<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>App-Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.isitchristmas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>LANGUAGE_YES</key>
	<dict>
		<key>en</key>
		<string>YES</string>
		<key>fr</key>
		<string>OUI</string>
		<key>de</key>
		<string>JA</string>
		<key>ja</key>
		<string>HAI</string>
		<key>nl</key>
		<string>JA</string>
		<key>it</key>
		<string>SÌ</string>
		<key>es</key>
		<string>SÍ</string>
		<key>pt</key>
		<string>SIM</string>
		<key>pt-PT</key>
		<string>SIM</string>
		<key>da</key>
		<string>JA</string>
		<key>fi</key>
		<string>KYLLÄ</string>
		<key>nb</key>
		<string>JA</string>
		<key>sv</key>
		<string>JA</string>
		<key>ko</key>
		<string>YE</string>
		<key>ru</key>
		<string>ДА</string>
		<key>pl</key>
		<string>TAK</string>
		<key>tr</key>
		<string>EVET</string>
		<key>hr</key>
		<string>DA</string>
		<key>cs</key>
		<string>ANO</string>
		<key>et</key>
		<string>JAA</string>
		<key>el</key>
		<string>NE</string>
		<key>he</key>
		<string>KEN</string>
		<key>lv</key>
		<string>JĀ</string>
		<key>lt</key>
		<string>TAIP</string>
		<key>hu</key>
		<string>IGEN</string>
		<key>ro</key>
		<string>DA</string>
		<key>sk</key>
		<string>ÁNO</string>
		<key>th</key>
		<string>CHAI</string>
		<key>ms</key>
		<string>YA</string>
		<key>zh-Hans</key>
		<string>SHI</string>
		<key>zh-Hant</key>
		<string>SHI</string>
		<key>id</key>
		<string>YA</string>
		<key>uk</key>
		<string>TAK</string>
		<key>ar</key>
		<string>NAAM</string>
		<key>ca</key>
		<string>YES/OUI</string>
	</dict>
	<key>LANGUAGE_NO</key>
	<dict>
		<key>en</key>
		<string>NO</string>
		<key>fr</key>
		<string>NON</string>
		<key>de</key>
		<string>NEIN</string>
		<key>ja</key>
		<string>IIE</string>
		<key>nl</key>
		<string>NEE</string>
		<key>it</key>
		<string>NO</string>
		<key>es</key>
		<string>NO</string>
		<key>pt</key>
		<string>NÃO</string>
		<key>pt-PT</key>
		<string>NÃO</string>
		<key>da</key>
		<string>NEJ</string>
		<key>fi</key>
		<string>EI</string>
		<key>nb</key>
		<string>NEI</string>
		<key>sv</key>
		<string>NEJ</string>
		<key>ko</key>
		<string>ANIYO</string>
		<key>ru</key>
		<string>НЕТ</string>
		<key>pl</key>
		<string>NIE</string>
		<key>tr</key>
		<string>HAYIR</string>
		<key>hr</key>
		<string>NE</string>
		<key>cs</key>
		<string>NE</string>
		<key>et</key>
		<string>EI</string>
		<key>el</key>
		<string>OHI</string>
		<key>he</key>
		<string>LO</string>
		<key>lv</key>
		<string>NĒ</string>
		<key>lt</key>
		<string>NO</string>
		<key>hu</key>
		<string>NEM</string>
		<key>ro</key>
		<string>NU</string>
		<key>sk</key>
		<string>NIE</string>
		<key>th</key>
		<string>MAI CHAI</string>
		<key>ms</key>
		<string>TIDAK</string>
		<key>zh-Hans</key>
		<string>BÙ SHÌ</string>
		<key>zh-Hant</key>
		<string>BÙ SHÌ</string>
		<key>id</key>
		<string>TIDAK</string>
		<key>uk</key>
		<string>NI</string>
		<key>ar</key>
		<string>LAY</string>
		<key>ca</key>
		<string>NO/NON</string>
	</dict>
</dict>
</plist>
